*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    min-height:100vh ;
    place-items: center;
    background-color: blue;
}
.ddt{
    background-color: rgba(0, 0, 0, 0.925);
    width:270px ;
    height: 440px;
    border-radius: 10px;
    position: absolute;
   overflow: hidden;
}
.screen{
    width: 270px;
    height: 120px;
    text-align: right;
    font-size: 30px;
    pointer-events: none;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    
}
#btn{
    width: 60px;
    height: 50px;
    border: none;
    border-radius:14px;
    margin-top: 5px;
    font-size: larger;
    margin-left:1.5px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   box-shadow: 2px 3px rgba(128, 128, 128, 0.76);
}
#cover{
    width: 265px;
    margin-top: 10px;
    padding-left: 5px;
}
.core{
    background-color: chocolate;
    border: none;
    color: white;
    font-size: larger;
}
.one{
    background-color: rgba(0, 128, 0, 0.61);

}
.ton{
    background-color: rgba(165, 42, 42, 0.651);
}

.switch{
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 500px;
}

.switch::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(20px);
    z-index: -1;
    background-color: #d8ff99;
    animation: top 3s infinite;
    
}
/*Hide default HTML checkbox*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The Slider*/
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfefedc;
    font-size: large;
}
.slider::before{
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.35em;
    transition: 2s;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.17) 0px -10px 10px 0px inset,rgba(0,0,0,0.09) 0px -1px 15px -8px;
    background-color: #ff99fd;
   
}
.input__check:checked + .slider{
    background-color: #17202a;
}
.input__check:checked + .slider::before{
    transform: translateX(1.3em);
    
}
p{
    color: chocolate;
    animation: ben 5s infinite;
    font-weight: 800;
    font-size: 20px;
    text-align: start;
    font-family: sans-serif;
    text-shadow: 1px 2px rgba(0, 0, 255, 0.541);
}
@keyframes ben{
    100%{
        transform: translatex(100%);
       
}
}

